.alert {
    border: 1px solid #aaa;
    border-left-width: 8px;
    border-radius: 0 3px 3px 0;

    &.info {
        border-color: #2980b9;
    }
    &.warning {
        border-color: #f39c12;
    }
    &.danger {
        border-color: #c0392b;
    }
    &.success {
        border-color: #27ae60;
    }

    &.info::after {
        color: #2980b9;
    }
    &.warning::after {
        color: #f39c12;
    }
    &.danger::after {
        color: #c0392b;
    }
    &.success::after {
        color: #27ae60;
    }
}