.data-block-container {
	margin-bottom: 2rem;
	
	.data-block {
		list-style-type: none;
		margin: 0 -0.5rem;		
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		flex-shrink: 1;
		width: 100%;
		
		li {
			background-color: #f2f2f2;
			padding: 1rem;
			width: 50%;
			margin: 0 0.5rem;
		
			.data {
				font-size: 2rem;
				color: #666;
				margin: 0;
			}
			.desc {
				font-size: 0.9rem;
				margin: 0;
			}
		}
	}
	.timestamp {
		font-size: 0.75rem;
		margin: 0;
	}
}
