.pagination-wmp {
    list-style-type: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    justify-content: center;
    font-size: 0.9rem;
    
    li {
        a,
        span {
            display: block;
            border: 1px solid #d7d7d7;
            padding: 0.5rem 0.75rem;
            border-radius: 3px;
            text-align: center;
            line-height: 1;
            margin: 0 0.15rem 0.3rem 0.15rem;
            min-width: 26px;
            text-decoration: none;
            color: #757575;

            &:hover {
                background-color: #efefef;
            }
        }

        &.active {
            a,
            span {
                font-weight: 600;
                border: 1px solid #656565;
                background-color: #757575;
                color: #fff;
            }
        }
    }
}

/*==------------------------------------------------------====
    Matrix default pagination styling 
====------------------------------------------------------==*/
.pagination {
    li {
        height: initial;
        display: flex;
        padding: 0.5em 0;
        line-height: 1;
        color: #ccc;
        margin: 0 0.15em;
        min-width: 26px;

        span, a {
            text-align: center;
        }
        span { 
            display: block;
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: #007eb1;
            font-size: 1.1em;
        }
        a:hover {
            text-decoration: underline;
        }
        a:active,
        &.active a:hover,
        &.active a {
            border-color: #007eb1;
            background-color: #007eb1;
            color: #fff;
        }
        
        &.button {
            background-color: #007eb1;
            border-radius: 3px;
            color: #ccc;
            padding: 0.5em 0.75em;
            
            a {
                color: #fff;
            }
        }
    }
}

table + .pagination {
    margin-top: -1em;
    margin-bottom: 3em;
}