.primary-nav-container {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    z-index: 500;
    
    @include screen(desktop) {
        position: static;
        background-color: rgba(0,0,0,0.85);
        transition: all 0.5s ease;
    }

    .primary-nav {
        li {
            font-size: 1.4em;
            transition: all 0.1s ease;
        }
        > li:hover {
            background-color: #444;
        }
        li a {
            color: #fff;
            padding: 0.5em;
        }

        &.simple {
            .primary-sub-nav {
                box-shadow: 0 5px 10px -5px rgba(0,0,0,0.25);
                
                > li {
                    background-color: #000;
                    
                    &:hover {
                        background-color: #444;
                    }
                    a {
                        padding: 0.5em 1em;
                    }
                }
            }
            li a {
                padding: 0.75em 1em;
            }
        }
    }
}