.project-overview {
    margin: $default-margin 0;
}

.project-link {
    display: inline-block;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    padding: 0.75em 1em;
    
    p {
        margin: 0;
    }
    
    a {
        font-weight: bold;
        text-decoration: none;
        color: inherit;
    
        &:hover {
            text-decoration: underline;
        }
    }
}