$timeline-color: #999;
$timeline-circle: #666;
$timeline-offset: 75px;

$timeline-past: #dc4970;
$timeline-present: #efc42d;
$timeline-future: #1995e3;

$tl-radius: 30px;

.timeline-container {
    margin: $default-margin 0;
}

.main-content.wide-main .timeline h2 {
    margin-bottom: 3rem;
}

.timeline {
    h2 {
        width: 100%;
        margin-bottom: 3rem;
    }
    
    h4 {
        margin-bottom: 0.5em;
    }    

    .tl-row {
        display: flex;
        flex-direction: row;
        width: 100%;

        &.right {
            justify-content: flex-end;
        
            > * {
                text-align: right;
            }
            .tl-circle::before {
                left: 73px;
            }
            .tl-circle::after {
                left: 73px;
            }
        }
        
        &:last-child {
            .tl-circle::after {
                height: 50%;
            }
        }
        
        .tl-circle {
            width: 100px;
            
            @include screen(desktop) {
                width: 150px;
            }
            position: relative;

            &::before {
                position: absolute;
                top: 50%;
                left: 25px;
                @include screen(desktop) {
                    left: 75px;
                }
                width: 50px;
                height: 50px;
                border: 2px solid $timeline-circle;
                border-radius: 50%;
                transform: translateX(-50%) translateY(-50%);
                background-color: #fff;
                content: '';
                z-index: 50;
            }
            &::after {
                position: absolute;
                top: -2px;
                left: 25px;
                @include screen(desktop) {
                    left: 75px;
                }
                width: 2px;
                height: 110%;
                border-left: 2px solid $timeline-color;
                content: '';
                z-index: 25;
            }
            &.top::after {
                height: 50%;
            }
            &.top::after {
                top: auto;
                bottom: -2px;
            }
            
            &.past::before { 
                border-color: $timeline-color;
                background-color: #f2f2f2;
            }
            &.present::before { 
                border-color: $timeline-future; 
            }
            &.future::before { 
                border-color: $timeline-color;
            }
        }
        
        .tl-content {
            width: 65%;
        }
    }

    .tl-line {
        display: flex;

        div:nth-child(1),
        div:nth-child(3) {
            width: 100px;
            
            @include screen(desktop) {
                width: 150px;
            }
            flex-shrink: 0;
        }
        div:nth-child(2) {
            width: 100%;
        }
        
        hr {
            margin: 50px 0;
            border-top: 2px solid $timeline-color;
        }
        
        > div {
            position: relative;

            &.tl::after,
            &.tr::after,
            &.bl::after,
            &.br::after {
                position: absolute;
                width: 75px;
                height: 75px;
                content: '';
                position: absolute;
            }
            
            &.tl::after {
                border-top: 2px solid $timeline-color;
                border-left: 2px solid $timeline-color;
                bottom: -23px;
                right: 0;
                border-radius: $tl-radius 0 0 0;
            }
            &.tr::after {
                border-top: 2px solid $timeline-color;
                border-right: 2px solid $timeline-color;
                bottom: -23px;
                left: 0;
                border-radius: 0 $tl-radius 0 0;
            }
            &.br::after {
                border-bottom: 2px solid $timeline-color;
                border-right: 2px solid $timeline-color;
                top: -23px;
                left: 0;
                border-radius: 0 0 $tl-radius 0;
            }
            &.bl::after {
                border-bottom: 2px solid $timeline-color;
                border-left: 2px solid $timeline-color;
                top: -23px;
                right: 0;
                border-radius: 0 0 0 $tl-radius;
            }
        }
    }
}