$primary-color: #007eb1;
$primary-hover: #189cc6;

$link-color: #007eb1;
$link-hover-color: #ff8100;

$module-border: #dfe1e5;
$module-arrow: #bbb;
$module-line-dotted: #dfe1e5;

$default-margin: 4rem;